
.infoCard{ /* styles for info to be shown on a card */
    height: fit-content;
    width: 70%;
    margin: auto;
    margin-top: 4rem;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: stretch;

}

