:root{
  --prim_blue: rgb(23,37,84);
  --btn_blue:rgb(59,130,246);
  --border_blue:#646cff;
  --input_blue:rgb(191, 214, 252);
}

.homeSearchDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 60%;
    margin-top: 2.5rem; /* mt-10 */
    padding: 1.25rem; /* p-5 */
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5rem; /* rounded-lg */
    border-width: 2px;
    border-color: #1e3a8a; /* border-blue-950 */
    transition: all 0.2s ease-in-out;


}
.homeSearchDiv:hover {
  border-color: #2563eb; /* hover:border-blue-600 */
  box-shadow: 0px 0px 50px var(--border_blue);
}

.inputBounds{
  width: 100%;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
}
.inputStyles{
  outline: none;
  width: 100%;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid transparent;
  /* background-color: var(--input_blue); */
  border-color:  var(--prim_blue) ;
  transition: all 0.1s ease-in;
}
.inputStyles:focus{
  border: 3px solid transparent;
  border-color:  var(--border_blue) ;
  padding: 7px;
}
.labelStyles{
  font-weight: bold;
  text-align: left;
  /* background-color: beige; */
  width: 100%;
}


.formBtn{
  border-radius: 8px;
  margin-top: 10px;
  margin-left: 3px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color:  white ;
  color: rgb(14, 14, 14);
  border-color: #070708;
  cursor: pointer;
  transition: border-color 0.25s;
}
.formBtn:hover {
  background-color: var(--prim_blue);
  color: white;
  border-color: #646cff;
}
.formBtn:focus,
.formBtn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}