:root{
  --prim_blue: rgb(23,37,84);
  --btn_blue:rgb(59,130,246);
  --input_blue:rgb(191, 214, 252);
}


.inputBounds{
  width: 100%;
  margin: auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: aqua; */
}
.inputStyles{
  outline: none;
  width: 100%;
  padding: 2px;
  margin: 2px;
  border-radius: 5px;
  /* background-color: var(--input_blue); */
  box-shadow:5px 2px 2px    var(--prim_blue) ;
}
.inputStyles:focus{
  background-color:  var(--input_blue) ;
  box-shadow:5px 2px 2px    var(--prim_blue) ;
  padding: 7px;
}
.labelStyles{
  font-weight: bold;
  text-align: left;
  /* background-color: beige; */
  width: 100%;
}

.formBtn{
  margin-top: 10px;
  padding: 10px;
  background-color:  var(--prim_blue);
  color: white;
  font-weight: bold;
  border-radius: 5px;
}
.formBtn:hover{
  background-color: var(--btn_blue);
  color: rgb(13, 12, 12);
}